<a href="https://colab.research.google.com/github/TejaswiMT1202/Mandadapu_IT533/blob/main/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
kickstarter = pd.read_csv("https://raw.githubusercontent.com/TejaswiMT1202/Mandadapu_IT533/main/kickstarter-projects-201518.csv", encoding="ISO-8859-1") # Use your own GitHub link here!
kickstarter.dropna(inplace=True)

In [2]:
k = kickstarter
k

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,USD,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,USD,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,USD,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00
4,1049544313,Balteus Belt,Apparel,Fashion,USD,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191580,55596200,Plateforme de statistiques,Apps,Technology,EUR,3/2/2018,9000,1/1/2018 15:40,0.00,live,0,FR,0.00,0.00,10923.26
191581,872683023,The Lewisham Ledger - a new free local communi...,Print,Journalism,GBP,3/2/2018,5000,1/1/2018 21:20,350.00,live,7,GB,364.86,477.39,6819.89
191582,1036415983,Aikyam : Onnu,Music,Music,USD,3/3/2018,10000,1/2/2018 8:11,174.00,live,3,US,174.00,174.00,10000.00
191583,1916988520,Back in Black Hills Movie,Drama,Film & Video,USD,3/3/2018,5500,1/2/2018 1:16,0.00,live,0,US,0.00,0.00,5500.00
191584,22387366,Nerd Collect,Apps,Technology,GBP,3/3/2018,150000,1/2/2018 3:26,0.00,live,0,GB,0.00,0.00,204596.60

1. Data Transformation: Pick three variables whose data types may be more useful as another data type and utransform them to numeric or character/ categorical format. Then, insert a text section into your notebook and explain in no less than 3 sentences what this transformation will allow you to accomplish analytically later on.

In [3]:
# First Variable: state
# First, we back the dataframe up.
k1=kickstarter

# Now we build the column and copy the original values into it
k1['state_num'] = k1.state

# Third, we convert state_num into categorical
k1['state_num']= k1['state_num'].astype('category')

# Then, we replace the strings with the category indices
k1['state_num']= k1['state_num'].cat.codes

# Now, we check the data types
k1.dtypes[['state','state_num']]
#k1.state_num.iloc[20:25]

state        object
state_num      int8
dtype: object

In [4]:
# Second Variable: category
# First, we back the dataframe up.
k1=kickstarter

# Now we build the column and copy the original values into it
k1['category_num'] = k1.category

# Third, we convert category_num into categorical
k1['category_num']= k1['category_num'].astype('category')

# Then, we replace the strings with the category indices
k1['category_num']= k1['category_num'].cat.codes

# Now, we check the data types
k1.dtypes[['category','category_num']]

category        object
category_num     int16
dtype: object

In [5]:
# Third Variable: pledged
# First, we back the dataframe up.
k1=kickstarter

# Now we build the column and copy the original values into it
k1['pledged_int'] = k1.pledged

# Third, we convert pledged_num into int32
k1['pledged_int']= k1['pledged_int'].astype('int32')

# Then, we replace the strings with the category indices
#k1['category_num']= k1['category_num'].cat.codes

# Now, we check the data types
k1.dtypes[['pledged','pledged_int']]

pledged        float64
pledged_int      int32
dtype: object

In [6]:
k1.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,category_num,pledged_int
0,1008941852,The return of BABY UNIVERSE!,Immersive,Theater,USD,1/1/2015,15000,12/4/2014 21:37,11880.18,failed,46,US,11880.18,11880.18,15000.00,1,71,11880
1,1013503401,Potjie,Drama,Film & Video,GBP,1/1/2015,4500,12/2/2014 18:10,4843.00,successful,67,GB,7560.32,7477.46,6947.88,3,40,4843
2,1020446396,Stilt City- A Bungalow Artist Space in The Roc...,Public Art,Art,USD,1/1/2015,60000,11/19/2014 23:14,18087.00,canceled,204,US,18087.00,18087.00,60000.00,0,114,18087
3,1028008131,A 2D SideScroller RPG Made by YOU (Canceled),Video Games,Games,USD,1/1/2015,20000,12/2/2014 22:02,9.00,canceled,2,US,9.00,9.00,20000.00,0,148,9
4,1049544313,Balteus Belt,Apparel,Fashion,USD,1/1/2015,8000,11/18/2014 21:17,1563.00,failed,16,US,1563.00,1563.00,8000.00,1,7,1563

Data transformation is used to transform and assign categorical and int62 values to the values of state, category, and pledged variables in the kickstarter data set.

It allowed us to categorize a given raw data collection into a useful format, from which we may do separate operations and examine data from our own viewpoints following data transformation. Humans and computers may find it simpler to use transformed data.

Null values, unexpected duplicates, erroneous indexing, and incompatible formats are all possible landmines that it protects programs from.

2. Data Substitution: Substitute values in at least two variables. Insert a text section into your notebook and explain in no less than 3 sentences how you decided what values to use for substitution and, in addition to your explanation, show your code.

In [7]:
#variable 1: main_category-Technology
k2 = kickstarter
k2.main_category.unique()
#k2['currency'].isnull().values.any()

array(['Theater', 'Film & Video', 'Art', 'Games', 'Fashion', 'Publishing',
       'Technology', 'Food', 'Music', 'Design', 'Crafts', 'Journalism',
       'Dance', 'Comics', 'Photography'], dtype=object)

In [8]:
# Instead of building another column to see any transformations, we will substitute data in place this time around.
# For this purpose, we're using the replace() method from pandas
k2.main_category.replace('Technology','Automation', inplace=True)

# Did we indeed replace all '?'? Let's check:
k2[k2['main_category'] == 'Technology']

Empty DataFrame
Columns: [ID, name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real, state_num, category_num, pledged_int]
Index: []

In [9]:
k2.main_category.unique()

array(['Theater', 'Film & Video', 'Art', 'Games', 'Fashion', 'Publishing',
       'Automation', 'Food', 'Music', 'Design', 'Crafts', 'Journalism',
       'Dance', 'Comics', 'Photography'], dtype=object)

In [10]:
#Variable 2: "state-canceled"
k2.state.unique()

array(['failed', 'successful', 'canceled', 'suspended', 'live'],
      dtype=object)

In [11]:
k2.state.replace('canceled','cancelled', inplace=True)
k2.state.unique()

array(['failed', 'successful', 'cancelled', 'suspended', 'live'],
      dtype=object)

I substituted "cancelled" with canceled in the "state" variable because "cancelled" is misspelled.
And, in order to enhance the technical name, I chose Technology as the main category value and replaced it with "Automation" at Technology.
If any of the raw data is incorrect or needs to be modified, we may use data replacement to replace all of the data in the raw data set according to the requirements.

3. Data Reduction: Pick two variables that could be simplified by binning or bucketing, or by normalization or standardization. Then perform the operation(s) you have chosen. Insert a text section into your notebook and explain in no less than 3 sentences what benefit this may provide for any later analysis.

In [12]:
kickstarter.backers.describe()

count    188445.000000
mean        114.758704
std        1026.348301
min           0.000000
25%           1.000000
50%           8.000000
75%          51.000000
max      219382.000000
Name: backers, dtype: float64

In [13]:
bins = np.linspace(kickstarter.backers.min(),kickstarter.backers.max(),7)
bins

array([     0.        ,  36563.66666667,  73127.33333333, 109691.        ,
       146254.66666667, 182818.33333333, 219382.        ])

In [14]:
labels = ['very_low', 'low', 'medium','Moderate_high' ,'high','very_high']

In [ ]:
# Variable 1: backers simplified by using Binning methods.
k3 = kickstarter
k3['bins'] = pd.cut(k3['backers'], bins=bins, labels=labels, include_lowest=True)
k3[k3.backers>= 40000]

In [16]:
k3.groupby(['bins']).count()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,category_num,pledged_int
bins,,,,,,,,,,,,,,,,,,
very_low,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426,188426
low,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
medium,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Moderate_high,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
high,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
very_high,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [17]:
kickstarter.usd_goal_real.describe()

count    1.884450e+05
mean     6.120491e+04
std      1.425486e+06
min      4.900000e-01
25%      2.000000e+03
50%      6.500000e+03
75%      2.000000e+04
max      1.513959e+08
Name: usd_goal_real, dtype: float64

In [18]:
# Variable 2: usd_goal_real simplified by using Bucketing method.
# Setting up our 5 buckets and their labels
buckets = [ 0, 30279173.98, 60558347.96, 90837521.94, 121116695.9 ,151395869.9]
bucketlabels = ['very_low', 'low', 'middle', 'high', 'super-high']

# Using cut() to separate data into the buckets we have built
k3['buckets'] = pd.cut(k3['usd_goal_real'] , bins=buckets, labels=bucketlabels, include_lowest=True)

# Check if we have the new attribute 'buckets' at the end of our dataset
k3[k3.usd_goal_real>= 70000000]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,category_num,pledged_int,bins,buckets
10619,601594365,The Multi-Trillion Dollar DreamÃ¢Â„Â¢ (Canceled),Architecture,Design,USD,3/2/2015,100000000,1/7/2015 19:11,1.0,cancelled,1,US,1.00,1.00,1.000000e+08,0,9,1,very_low,high
11027,388031956,UniqueTrends,Apparel,Fashion,USD,3/4/2015,100000000,2/2/2015 23:52,1.0,failed,1,US,1.00,1.00,1.000000e+08,1,7,1,very_low,high
21440,962949560,"""PG"" Reanimated Cartoons Tha Movie",Animation,Film & Video,USD,4/11/2015,100000000,2/10/2015 23:49,0.0,failed,0,US,0.00,0.00,1.000000e+08,1,5,0,very_low,high
27372,308045282,Jesus Priest,Action,Film & Video,CAD,5/4/2015,100000000,3/5/2015 22:57,1.0,failed,1,CA,0.80,0.83,8.262414e+07,1,3,1,very_low,middle
32610,1746196981,High Gear (Canceled),Television,Film & Video,GBP,5/26/2015,50000000,3/27/2015 18:39,0.0,cancelled,0,GB,0.00,0.00,7.628696e+07,0,139,0,very_low,middle
40402,2075450016,"Virtual Reality Playground in Buffalo, NY",Live Games,Games,USD,6/28/2015,100000000,5/14/2015 2:31,20.0,failed,1,US,20.00,20.00,1.000000e+08,1,84,20,very_low,high
40740,1720842777,NAKED FASHION ART,Illustration,Art,CAD,6/30/2015,100000000,5/1/2015 19:40,0.0,failed,0,CA,0.00,0.00,7.947862e+07,1,70,0,very_low,middle
40765,1933151256,404 ERROR - The first emergency kit for an int...,Apps,Automation,EUR,6/30/2015,80000000,6/15/2015 11:40,1.0,cancelled,1,NL,1.13,1.11,8.876757e+07,0,8,1,very_low,middle
46932,492821983,"Back to the future! Hill Valley winnemucca, Ne...",Architecture,Design,USD,7/27/2015,80000000,5/29/2015 6:28,36.0,failed,3,US,36.00,36.00,8.000000e+07,1,9,36,very_low,middle
48109,2094346154,Is Anyone Out There ?,Technology,Automation,USD,8/1/2015,100000000,6/2/2015 19:21,0.0,failed,0,US,0.00,0.00,1.000000e+08,1,138,0,very_low,high
52308,499583381,The Scariest Movie Ever Created,Horror,Film & Video,USD,8/22/2015,100000000,7/23/2015 21:44,1.0,failed,1,US,1.00,1.00,1.000000e+08,1,69,1,very_low,high
60763,219702078,Kitchen from Austria in Switzerland,Restaurants,Food,CHF,10/5/2015,100000000,8/6/2015 19:12,0.0,failed,0,CH,0.00,0.00,1.040572e+08,1,123,0,very_low,high
64260,944541075,Hydroponic's Skyscraper(un gratte-ciel hydropo...,Technology,Automation,EUR,10/24/2015,100000000,8/25/2015 23:52,2.0,failed,2,FR,2.29,2.20,1.101698e+08,1,138,2,very_low,high
68776,621851828,Kickstarter 2 - We are Making a Better Kicksta...,Publishing,Publishing,USD,11/16/2015,100000000,9/17/2015 2:45,105.0,suspended,5,US,105.00,105.00,1.000000e+08,4,115,105,very_low,high
71373,2000749004,A Celtic Lovestory,Drama,Film & Video,GBP,11/30/2015,100000000,11/17/2015 0:47,0.0,failed,0,GB,0.00,0.00,1.513959e+08,1,40,0,very_low,super-high
77536,1279992058,Kybernan Holographic Gaming Network,Video Games,Games,USD,1/1/2016,100000000,11/7/2015 0:57,13.0,failed,4,US,13.00,13.00,1.000000e+08,1,148,13,very_low,high
80374,1741515953,Let's prove the earth is FLAT! (Suspended) (Su...,Video,Journalism,USD,1/20/2016,100000000,12/21/2015 22:29,13.0,suspended,4,US,13.00,13.00,1.000000e+08,4,146,13,very_low,high
92204,1395179504,Bring back Pontiac,Technology,Automation,USD,4/1/2016,100000000,2/1/2016 13:39,2.0,failed,2,US,2.00,2.00,1.000000e+08,1,138,2,very_low,high
103952,1370542565,Art Is Fabulous,Art,Art,USD,6/5/2016,100000000,4/6/2016 2:55,115.0,failed,2,US,115.00,115.00,1.000000e+08,1,10,115,very_low,high
108049,813343172,The Castles of the Great Assimil Unearthed (Ca...,Fiction,Publishing,USD,6/30/2016,100000000,5/31/2016 21:19,0.0,cancelled,0,US,0.00,0.00,1.000000e+08,0,54,0,very_low,high
115461,843636303,"The Exodus, one Ark or many.",Documentary,Film & Video,USD,8/16/2016,100000000,6/17/2016 17:20,14.0,failed,5,US,0.00,14.00,1.000000e+08,1,39,14,very_low,high
123149,2137925650,The Time Jumper,Science Fiction,Film & Video,USD,10/10/2016,100000000,8/11/2016 12:21,0.0,cancelled,0,US,0.00,0.00,1.000000e+08,0,127,0,very_low,high
137205,1168153740,Sage: Warrior Of The Fallen Gods (Movie),Fantasy,Film & Video,USD,1/14/2017,100000000,12/15/2016 2:24,0.0,failed,0,US,0.00,0.00,1.000000e+08,1,49,0,very_low,high
137968,1119122774,"Help me start a fair media company, Trump Media",Video,Journalism,USD,1/21/2017,100000000,11/22/2016 6:41,1.0,failed,1,US,0.00,1.00,1.000000e+08,1,146,1,very_low,high
140408,207256058,Midnight Black,Art,Art,USD,2/11/2017,75000000,12/15/2016 3:08,50.0,failed,1,US,0.00,50.00,7.500000e+07,1,10,50,very_low,middle
144989,2132015082,DER NEANDERTALER (Kinofilm mit Starbesetzung i...,Movie Theaters,Film & Video,EUR,3/14/2017,100000000,1/13/2017 20:08,36.0,failed,2,DE,1.06,38.65,1.073699e+08,1,89,36,very_low,high
172505,379409641,Peace,Film & Video,Film & Video,USD,9/13/2017,100000000,8/14/2017 16:46,1.0,failed,1,US,0.00,1.00,1.000000e+08,1,55,1,very_low,high
176675,941328479,The Throne : Fall of Lucifer,Movie Theaters,Film & Video,USD,10/13/2017,100000000,8/14/2017 16:45,0.0,failed,0,US,0.00,0.00,1.000000e+08,1,89,0,very_low,high
180483,208731425,Animal - The Bear Life Journey,Painting,Art,USD,11/9/2017,100000000,9/10/2017 17:54,59.0,failed,2,US,0.00,59.00,1.000000e+08,1,96,59,very_low,high
188623,1321011533,Mirror,Thrillers,Film & Video,USD,1/3/2018,99000000,11/24/2017 19:46,0.0,live,0,US,0.00,0.00,9.900000e+07,2,142,0,very_low,high

In [19]:
k3.groupby(['buckets']).count()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,state_num,category_num,pledged_int,bins
buckets,,,,,,,,,,,,,,,,,,,
very_low,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390,188390
low,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
middle,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
high,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
super-high,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

Because backers data in this data set is used to know how many supporters for each ID, and classifying it in terms of range is useful to know which range it falls into, I chose backers variable values to decrease using the binning approach.

I chose usd goal real variable values to decrease using the bucketing approach because classifying usd goal real in terms of range is important for determining which range it falls into when analyzing how profits are generated.

I selected the binning approach for backers data because backers data should be distributed evenly, and I used the bucketing method for usd real goal because predicted profit should not be distributed equally.

*4. Now that you have a better dataset, think about any important organizational analytical questions that management could ask about the dataset in order to help them make business or organizational decisions. *

What can we do with the backer data bins in the data collection, and how can we utilize it to better our business?